.addTaskHTMLBody{
    overflow: hidden;
}

h1 {
    font-size: clamp(20px, 7vw, 61px);
    line-height: 73.2px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    color: black;
}

b {
    color: red;
}

.add_task_content {
    width: 70%;
    height: 100vh;
    max-width: 1440px;
    top: 185px;
    left: 328px;
    position: relative;
}

.add_task_form_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.add_task_form {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    max-height: 480px;
    color: #2A3647;
    cursor: pointer;
    margin-top: 5%;
}

.add_task_width50 {
    width: 50%;
}

.add_task_line {
    width: 1px;
    margin: 0px 50px 0;
    padding-top: 20px;
    background-color: #D1D1D1;
}

.taskCategorySelection {
    font-size: clamp(17px, 1.3vw, 30px);
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    /* -webkit-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75); */
}

.add_task_input {
    font-size: clamp(17px, 1.3vw, 30px);
    height: 48px;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    /* -webkit-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75); */
    box-sizing: border-box;
}

.add_task_input:focus {
    border: 1px solid #29ABE2;
    outline: none;
  }

.add_task_textarea {
    padding: 16px 16px 16px 16px;
    font-size: clamp(17px, 1.3vw, 25px);
    font-family: 'Inter';
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 120px;
    resize: none;
    cursor: pointer;
    /* -webkit-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75); */
    box-sizing: border-box;
}

#meinFormular {
    display: flex;
    flex-direction: column;
}

.add_task_textarea:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.add_task_button_group {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    cursor: pointer;
}

.add_task_hover_button:hover {
    -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
}

.add_button_group {
    width: 136px;
    width: 40%;
    height: 56px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-size: clamp(20px, 1.3vw, 30px);
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.add_button_group#urgent.active {
    background-color: red;
    border: red;
    color: white;
}


.add_button_group#medium.active {
    background-color: #FFA800;
    border: #FFA800;
    color: white;
}

.add_button_group#low.active {
    background-color: #7AE229;
    border: #7AE229;
    color: white;
}

.add_task_button_vector {
    max-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_task_button_vector img {
   width: clamp(16px, 7vw, 35px);;
}

.add_button_group#urgent.active .add_task_button_vector img {
    filter: brightness(0) invert(1);
}

.add_button_group#medium.active .add_task_button_vector img {
    filter: brightness(0) invert(1);
}

.add_button_group#low.active .add_task_button_vector img {
    filter: brightness(0) invert(1);
}

.add_task_check_delete {
    display: flex;
    align-items: center;
    width: 14px;
    position: absolute;
    right: 8%;
    gap: 4px;    
    bottom: 9px;
}

.add_task_check_delete img {
    display: none;
    
}

.add_task_check_delete img:hover {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

#check {
    width: 36px;
}

.add_task_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.add_task_footer p {
    font-size: 20px;
    line-height: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.add_task_button_group_footer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.add_task_button_group_footer button {
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: auto;
    white-space: nowrap;
}

.add_task_button_group_footer button:hover .addContactCancelX{
    filter: invert(71%) sepia(58%) saturate(3762%) hue-rotate(165deg) brightness(93%) contrast(91%);
}


.addContactCancelX{
    filter: invert(16%) sepia(50%) saturate(3598%) hue-rotate(176deg) brightness(50%) contrast(82%);
}


.add_task_button_clear {
    color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 1px solid #2A3647;
    width: 110px;
    height: 56px;
    padding: 16px;
    gap: 4px;
}

.add_task_button_clear:hover  {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    
} 

.add_task_button_clear:hover img {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.add_task_button_create {
    font-weight: 700;
    background-color: #2A3647;
    color: white;
    width: 183px;
    height: 56px;
    padding: 16px;
    gap: 4px;
}

.add_task_button_create:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.add_task_button_create:hover {
    border: 2px solid #29ABE2;
    background-color: #29ABE2;
}

.add_task_title {
    height: 96px;
    gap: 8px;
}

.addTaskTitle {
    font-size: clamp(47px, 4vw, 61px);    
    font-weight: 700;
    color: #000000;
    margin: 0px;
}

.add_task_descripion {
    height: 168px;
    margin: 16px 0;
    gap: 8px;
}

.add_task_assigned {
    position: relative;
    height: 80px;
    margin-top: 8px;
}

.add_task_date {
    font-family: 'inter';
    height: 96px;
    gap: 8px;
}

.add_task_prio {
    height: 88px;
    margin: 24px 0;
    gap: 8px;
}

.add_task_prio p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.add_task_category {
    gap: 8px;
    margin: 24px 0;
}

.add_task_subtask {
    gap: 8px;position: relative;
}

.add_task_button_add_subtask {
    width: 14px;
    position: absolute;
    right: 3%;
    bottom: 18px;
}

.add_task_button_add_subtask:hover {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.multipleSelection {
    width: 300px;
    background-color: #BCC2C1;
}

.selectBox {
    position: relative;
}

.selectBox img {
    position: absolute;
    top: 25px;
    right: 16px;
}

.selectBox:hover img {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkBoxes {
    visibility: hidden;
    z-index: 99;
    position: absolute;
    top: 80px;
}

.checkbox_name {
    border-radius: 10px;
}

#checkBoxes label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;    
    position: relative;
}

#checkBoxes label p {
   margin-block-start: 0;
   margin-block-end: 0;
   margin-left: 20px;
}

.check_box_initial {
    margin-left: 5px;
}

#checkBoxes label input {
    margin-right: 25px;
}

.board_task_check_box_name {
    display: flex;
    align-items: center;
}

#checkBoxes label:hover {
    background-color: #D1D1D1;
    /* color: white; */
    /* Added text color for better visibility */
}

.add_task_show_check {
    padding: 8px 0px 8px 0px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.add_task_show_check::-webkit-scrollbar {
    display: none;
}

#assignet_to {
    margin-bottom: 8px;
}

.dropdown_users_name {
    background-color: white;
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;    
    border-radius: 10px;
    word-wrap: break-word;
    -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
}

.dropdown_users_name::-webkit-scrollbar {
    width: 5px;
}

.dropdown_users_name::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown_users_name::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.dropdown_users_name::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.checkbox-wrapper-27 .checkbox {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkbox-wrapper-27 .checkbox > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox-wrapper-27 .checkbox__icon {
  display: inline-block;
  color: #999;
  vertical-align: middle;
  margin-right: 5px;
}

.checkbox-wrapper-27 input[type="checkbox"]:checked ~ .checkbox__icon {
  color: #2A3647;
}

.checkbox-wrapper-27 .checkbox__icon:before {
  font-family: "icons-27";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox-wrapper-27 .icon--check:before,
.checkbox-wrapper-27 input[type="checkbox"]:checked ~ .checkbox__icon:before {
  content: "\e601";
}

.checkbox-wrapper-27 .icon--check-empty:before,
.checkbox-wrapper-27 .checkbox__icon:before {
  content: "\e600";
}

@font-face {
  font-family: "icons-27";
  font-weight: normal;
  font-style: normal;
  src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAR4AAoAAAAABDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAPgAAAD4fZUAVE9TLzIAAAHsAAAAYAAAAGAIIvy3Y21hcAAAAkwAAABMAAAATBpVzFhnYXNwAAACmAAAAAgAAAAIAAAAEGhlYWQAAAKgAAAANgAAADYAeswzaGhlYQAAAtgAAAAkAAAAJAPiAedobXR4AAAC/AAAABgAAAAYBQAAAG1heHAAAAMUAAAABgAAAAYABlAAbmFtZQAAAxwAAAE5AAABOUQYtNZwb3N0AAAEWAAAACAAAAAgAAMAAAEABAQAAQEBCGljb21vb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v4lPh0BR0AAAB8Dx0AAACBER0AAAAJHQAAAO8SAAcBAQgPERMWGyBpY29tb29uaWNvbW9vbnUwdTF1MjB1RTYwMHVFNjAxAAACAYkABAAGAQEEBwoNL2X8lA78lA78lA77lA6L+HQVi/yU+JSLi/iU/JSLBd83Fffsi4v77Pvsi4v37AUOi/h0FYv8lPiUi4v33zc3i/s3++yLi/fs9zeL398F9wCFFftN+05JzUdI9xr7GveR95FHzwUO+JQU+JQViwwKAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gEB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAf/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAACkYCfgXw889QALAgAAAAAAz65FuwAAAADPrkW7AAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAAYAAAAAAAAAAAAAAAABAAAAAgAAAAIAAAAAAFAAAAYAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff");
}

.addedTaskConfirmation {
    background-color: #2A3647;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    color: white;
    position: fixed;
    z-index: 3;
    bottom: -50%;
    right: 50%;
    font-size: 16px;
    transform: translate(50%, 50%);
    opacity: 0;
}

.confirmationSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.filterBright{
    filter: brightness(200%);
}

@keyframes slideInAddedTaskConfirmation {
    from {
        bottom: -50%;
        opacity: 0; 
    }
    to {
        bottom: 50%;
        opacity: 1; 
    }
}

@keyframes fadeConfirmation {
    from {
        bottom: 50%;
        opacity: 1;
    }
    to {
        bottom: 50%;
        opacity: 0;
    }
}

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #a8a8a8;
    --sb-size: 24px;
  }

/* Scrollbar-Stile für WebKit-basierte Browser */
.add_task_textarea::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
.add_task_textarea::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 50px;
}

.add_task_subtask_edit_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    display: none;
}

.add_task_subtask_edit_btn input {
    width: 80%;
    border: 0;
    font-size: 14px;
    border-bottom: 1px solid #29ABE2;
    padding-left: 15px;
}

.add_task_subtask_edit_btn img {
    width: 13px;
}

.add_task_edit_subtasks_del_edit {
    margin: 2px;
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;    
}

.add_task_edit_subtasks_del_edit:hover {
    background-color: #D1D1D1;
}

.add_task_edit_subtasks_del_edit img {
    width: 15px;
}

.get_subtask {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden; 
    border-radius: 10px;
  } 

.get_subtask::-webkit-scrollbar {
    width: 5px;
}

.get_subtask::-webkit-scrollbar-track {
    background: transparent;
}

.get_subtask::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.get_subtask::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}
  
.add_task_textarea::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
    border: 8px solid #ffffff;
}

  /* Fallback für Browser, die ::-webkit-scrollbar nicht unterstützen */
@supports not selector(::-webkit-scrollbar) {
    #listSection {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

@media (max-width: 1050) {
    .add_task_footer{
        padding: 48px 0 0px ;
    }

    #meinFormular {
        gap: 0;
    }
}

@media (max-width: 450px) {
    
    .add_task_button_group {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    
    .add_task_button_group button{
        width: 100%;
    }

    .add_task_prio {
        height: max-content;
    }
}