.board_container {
    position: relative;
    top: 206px;
    left: 290px;
    width: max-content;
}

.board_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    gap: 48px;
}

.board_content_mobile_taskTitle {
    display: none;
}

.board_header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    display: flex;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task_navigation {
    display: flex;
    align-items: center;
}

.task_navigation input {
    border: 1px solid #A8A8A8;
    height: 48px;
    width: 300px;
    border-radius: 10px;
    margin-right: 32px;
    cursor: auto;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
    padding-left: 16px;
}

.task_navigation input:focus {
    color: black;
}

.task_navi_line {
    position: absolute;
    width: 1px;
    height: 40px;
    right: 90px;
    background-color: #D1D1D1;
}

.input_task_navigation img {
    position: absolute;
    width: 18px;
    right: 52px;
    top: 18px;
}

.input_task_navigation {
    display: flex;
    align-items: center;
    position: relative;
}

.task_navigation button {
    border: 1px solid #2A3647;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.2px;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    width: 160px;
    height: 52px;
    padding: 8px 16px;
    gap: 4px;
    cursor: pointer;
}

.task_navigation button:hover {
    border: 2px solid #29ABE2;
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
}

.column_section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: clamp(17px, 1.6vw, 24px);
    color: #42526E;
    gap: 2%;
}

.columm_section_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.column_section button {
    height: 25px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    border: 2.4px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
    cursor: pointer;
}

.column_section button:hover,
.board_content_mobile_taskTitle button:hover {
    border: 2.4px solid #29ABE2;
    color: #29ABE2;
}

.board_content {
    height: 100%;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    position: relative;
    gap: 2%;
}

.task {
    background-color: white;
    border-radius: 10px;
    word-break: break-all;
    padding: 16px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.36);
    text-align: start;
    cursor: pointer;
}

.bord_content_colum {
    width: 25%;
    padding: 8px;
    border-radius: 10px;
}

.bord_content_colum_left {
    width: 25%;
    z-index: 1;
    padding: 8px;
    border-radius: 10px;
}

.bord_content_colum_right {
    width: 25%;
    padding: 8px;
    border-radius: 10px;
}


.no_task {
    position: absolute;
    border: 1px dashed #969090;
    border-radius: 10px;
    height: 50px;
    width: 23%;
    display: flex;
    color: #A8A8A8;
    font-size: 18px;
    line-height: 19.2px;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    z-index: 0;
}



.board_task_category {
    display: inline-block;
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    border-radius: 8px;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.board_task_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    color: #2A3647;
    margin-bottom: 8px;
}

.board_task_descripton {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.board_task_initial {
    display: flex;
    position: relative;
}

.board_task_user_initial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
}

.board_task_toDo {
    font-size: 16px;
    line-height: 19.2px;
    color: #A8A8A8;
}

.board_task_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_task_footer_status {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board_task_progressbar {
    width: 60%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

.progress-bar {
    height: 9px;
    background-color: #4589FF;
    width: 0;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}

.board_task_progress_line {
    display: flex;
    gap: 2px;
}

.board_task_progress_subcount {
    width: 40%;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_task_subtask_content {
    display: flex;
    align-items: center;
}

.show_task_subtask_content div {
    margin-left: 10px;
}

.show_task_subtask {
    display: flex;
    flex-direction: column;
}

.show_task_close_button {
    cursor: pointer;
}

.title-mobile {
    display: none;
}

h2 {
    display: none;
}

.board_content_mobile_taskTitle button {
    display: none;
}

.checkbox-wrapper-27 .checkbox {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .checkbox-wrapper-27 .checkbox > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .checkbox-wrapper-27 .checkbox__icon {
    display: inline-block;
    color: #999;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .checkbox-wrapper-27 input[type="checkbox"]:checked ~ .checkbox__icon {
    color: #2A3647;
  }
  
  .checkbox-wrapper-27 .checkbox__icon:before {
    font-family: "icons-27";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .checkbox-wrapper-27 .icon--check:before,
  .checkbox-wrapper-27 input[type="checkbox"]:checked ~ .checkbox__icon:before {
    content: "\e601";
  }
  
  .checkbox-wrapper-27 .icon--check-empty:before,
  .checkbox-wrapper-27 .checkbox__icon:before {
    content: "\e600";
  }

  .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  /* Fallback für Browser, die ::-webkit-scrollbar nicht unterstützen */
  @supports not selector(::-webkit-scrollbar) {
    #listSection {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
  
  
  @font-face {
    font-family: "icons-27";
    font-weight: normal;
    font-style: normal;
    src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAR4AAoAAAAABDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAPgAAAD4fZUAVE9TLzIAAAHsAAAAYAAAAGAIIvy3Y21hcAAAAkwAAABMAAAATBpVzFhnYXNwAAACmAAAAAgAAAAIAAAAEGhlYWQAAAKgAAAANgAAADYAeswzaGhlYQAAAtgAAAAkAAAAJAPiAedobXR4AAAC/AAAABgAAAAYBQAAAG1heHAAAAMUAAAABgAAAAYABlAAbmFtZQAAAxwAAAE5AAABOUQYtNZwb3N0AAAEWAAAACAAAAAgAAMAAAEABAQAAQEBCGljb21vb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v4lPh0BR0AAAB8Dx0AAACBER0AAAAJHQAAAO8SAAcBAQgPERMWGyBpY29tb29uaWNvbW9vbnUwdTF1MjB1RTYwMHVFNjAxAAACAYkABAAGAQEEBwoNL2X8lA78lA78lA77lA6L+HQVi/yU+JSLi/iU/JSLBd83Fffsi4v77Pvsi4v37AUOi/h0FYv8lPiUi4v33zc3i/s3++yLi/fs9zeL398F9wCFFftN+05JzUdI9xr7GveR95FHzwUO+JQU+JQViwwKAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gEB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAf/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAACkYCfgXw889QALAgAAAAAAz65FuwAAAADPrkW7AAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAAYAAAAAAAAAAAAAAAABAAAAAgAAAAIAAAAAAFAAAAYAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff");
  }

@media screen and (min-width: 850px) and (max-width: 1122px) {
    .board_container {
        left: 280px;
    }
}

@media (max-width: 1122px) {
    .board_container {
        width: 70%;
        top: 206px;
    }

    body {
        height: auto;
    }

    h2 {
        display: block;
        font-size: 27px;
        font-weight: 700;
    }

    .board_header {
        height: auto;
        width: 95%;
    }

    .board_container {
        width: 70%;
        top: 206px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px 40px 0px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .title-mobile {
        display: block;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: none;
    }

    .task {
        min-width: 252px;
        word-break: normal;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.08);
    }

    .task_navigation {
        display: flex;
        justify-content: space-between;
    }

    .task_navigation button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input_task_navigation {
        width: 100%;
    }

    .input_task_navigation input {
        width: 100%;
        margin-right: 0;
    }

    .input_task_navigation img {
        right: 20px;
    }

    .task_navi_line {
        right: 50px;
    }

    .board_header {
        gap: 40px;
    }

    .column_section {
        display: none;
        gap: 2%;
    }

    .board_content {
        justify-content: baseline;
        flex-direction: column;
        height: auto;
        width: 95%;
    }

    .bord_content_colum_left,
    .bord_content_colum,
    .bord_content_colum_right {
        display: flex;
        gap: 16px;
        width: 100%;
        margin-left: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 6px;
    }

    .bord_content_colum::-webkit-scrollbar,
    .bord_content_colum_left::-webkit-scrollbar,
    .bord_content_colum_right::-webkit-scrollbar {
        display: none;
    }

    .pop_add_task {
        display: none;
    }

    .board_content_mobile_taskTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .board_content_mobile_taskTitle button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .no_task {
        position: relative;
        width: 100%;
    }
}

@media screen and (min-width: 850px) and (max-width: 984px){
    .board_container {
        width: 64%;
    }
}

@media (max-width: 850px) {
    .board_container {
        left: 0px;
        width: 98%;
    }
    
    .board_header h1{
        font-size: 47px;
    }
}

@media (max-width: 450px) {
    .board_container{
        top: 135px;
    }
}

