.board_header {
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.board_header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    display: flex;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task_navigation {
    display: flex;
    align-items: center;
}

.task_navigation input {
    border: 1px solid #A8A8A8;
    height: 48px;
    width: 300px;
    border-radius: 10px;
    margin-right: 32px;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
    padding-left: 16px;
}

.task_navi_line {
    position: absolute;
    width: 1px;
    height: 40px;
    right: 90px;
    background-color: #D1D1D1;
}

.input_task_navigation img {
    position: absolute;
    width: 18px;
    right: 52px;
    top: 18px;
}

.input_task_navigation {
    display: flex;
    align-items: center;
    position: relative;
}

.task_navigation button {
    border: 1px solid #2A3647;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.2px;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    width: 160px;
    height: 52px;
    padding: 8px 16px;
    gap: 4px;
    cursor: pointer;
}

.task_navigation button:hover {
    border: 2px solid #29ABE2;
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
}

.column_section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    color: #42526E;
}

.columm_section_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.columm_section_add_inprogress {
    margin-left: 14px;
    margin-right: 8px;
}

.columm_section_add_done {
    margin-left: 13px;
}

.columm_section_add_await {
    margin-left: 16px;
    margin-right: 12px;
}

.column_section button {
    height: 25px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    border: 2px solid #2A3647;
    border-radius: 6px;
    color: #2A3647;
    cursor: pointer;
}

.column_section button:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.board_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.columm_section_add_todo {
    margin-right: 8px;
}

.task {
    background-color: white;
    border-radius: 10px;
    word-break: break-all;
    padding: 16px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.36);
    text-align: start;
}

.bord_content_colum {
    width: 25%;
    margin-right: 13px;
    margin-left: 13px;
    display: inline-block;
    flex-wrap: wrap-reverse;
}

.bord_content_colum_left {
    width: 25%;
    margin-right: 13px;
    display: inline-block;
    flex-wrap: wrap-reverse;

}

.bord_content_colum_right {
    width: 25%;
    margin-left: 13px;
    display: inline-block;
    flex-wrap: wrap-reverse;
}

.board_task_category {
    display: inline-block;
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    border-radius: 8px;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.board_task_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    color: #2A3647;
    margin-bottom: 8px;
}

.board_task_descripton {    
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
    word-wrap: break-word;
}

.board_task_initial {
    display: flex;
    position: relative;
}

.board_task_user_initial {
    display: flex;
    font-size: 12px;
    line-height: 14.4;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px solid white;
    color: white;
}

.board_task_toDo {
    font-size: 16px;
    line-height: 19.2px;
    color: #A8A8A8;
}

.board_task_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_task_footer_status {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.pop_add_task {
    min-width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(23, 31, 52, 0.3);
    visibility: hidden;
    z-index: 999;
}

.show_add_task {
    background-color: white;
    height: 85%;
    width: 80%;
    position: fixed;
    border-radius: 20px;
    padding: 30px;
}

.close_pop_add_task {
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    font-size: 22px;
    background-color: white;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.show_task {
    background-color: white;
    height: 75%;
    width: 30%;
    position: fixed;
    border-radius: 20px;
    padding: 30px;
    word-wrap: break-word;
    position: relative;
}

.show_task_title {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    margin-bottom: 24px;
}

.show_task_header {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.show_task_category {
    display: inline-block;
    color: white;
    font-size: 23px;
    line-height: 27.6px;
    border-radius: 8px;
    padding: 4px 24px;
}

.show_task_close_button {
    width: 13.15px;
    height: 13.15px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.show_task_description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.show_task_date {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.show_task_priority img {
    width: 40px;
    height: 40px;
}

.show_task_priority {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    gap: 10px;
}

.show_task_user_name {
    margin: 50px 0 20px;
}

.show_task_user_daten span {
    font-size: 20px;
    line-height: 24px;
}

.show_task_assing_to_users {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 19px;
    line-height: 22.8px;
    margin-top: 20px;
    margin-left: 20px;
}

.show_task_user_initial {
    width: 42px;
    height: 42px;
}

.show_task_footer button {
    border: 0;
    background-color: white;
    width: 16px;
    height: 18px;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.slideIn {
    animation: slideIn 0.4s ease-in-out forwards;
}

.slideOut {
    animation: slideOut 0.4s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        right: -100%;
    }

    to {
        right: 8%;
    }
}

@keyframes slideOut {
    from {
        right: 8%;
    }

    to {
        right: -100%;
    }
}