.privacy {
    padding-bottom: 40px;
    box-sizing: border-box;
    word-break: break-word;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-size: 16px;
}

.blue-highlight {
    color: #29ABE2;
    background-color: transparent;
}

.num {
    font-size: 27px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    margin: 0;
}

.point {
    display: flex;
    gap: 35px;
}

.content {
    width: 70%;
}

.arrowLeft {
    cursor: pointer;
}

.privacy-container {
    width: 60vw;
    top: 205px;
    left: 328px;  
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
}

