.privacy {
    max-width: 1440px;
}

h2 {
    margin-bottom: 0;
    font-size: 27px;
}

p {
    margin-top: 0;
    font-size: 16px;
}

.blue-highlight {
    color: #29ABE2;
    background-color: transparent;
}

.num {
    font-size: 27px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    margin: 0;
}

.point {
    display: flex;
    gap: 35px;
}

.content {
    width: 70%;
}