.pop_add_task {
    justify-content: center;
    align-items: center;
    right: -50%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    border-radius: 30px;
    padding: 64px
}

.show_add_task{
    width: 75vw;
}

.pop_add_task h1 {
    justify-content: start;
    display: flex;
    width: 100%;
}

.close_pop_add_task {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 16px;
    cursor: pointer;
}

.close_pop_add_task:hover {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.drag-area-highlight {
    background-color: #e1e1e1;;
}

.show_task {
    word-wrap: break-word;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.show_task_title {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
}


.show_task_header {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.show_task_category {
    display: inline-block;
    color: white;
    font-size: 23px;
    line-height: 27.6px;
    border-radius: 8px;
    padding: 4px 24px;
}

.show_task_close_button img{
    width: 13.15px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.show_task_close_button:hover {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.show_task_description {
    font-size: 20px;
    line-height: 24px;
}

.show_task_date {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    font-size: 20px;
    line-height: 24px;
}

.show_task_priority img {
    width: 40px;
    height: 40px;
}

.show_task_priority {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    gap: 10px;
}

.show_task_user_name {
    max-height: 212px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.show_task_user_name::-webkit-scrollbar {
    width: 5px;
}

.show_task_user_name::-webkit-scrollbar-track {
    background: transparent;
}

.show_task_user_name::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


.show_task_user_name::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.show_task_user_daten span {
    font-size: 20px;
    margin-bottom: -16px;
}

.show_task_user_daten{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.show_task_assigned_to_users {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 19px;
    margin: 20px 10px 20px 10px;
}

.show_task_user_initial {
    max-width: 54px;
    height: 42px;
    min-width: 42px;
}

.show_task_footer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: end;
}

.show_task_footer button {
    border: 0;
    background-color: white;
    width: 16px;
    height: 18px;
}

.board_task_check_box_name {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

}

.board_task_check_box_name {
    padding-right: 16px;
    border-radius: 10px;
}

.board_task_check_box_name:hover {
    background-color: #D1D1D1;
}

.show_task_checkbox_edit_name_input {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 20px;
    margin: 5px 0 5px;
}

.show_task_footer_delete {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.show_task_footer_delete img {
    cursor: pointer;
}

.show_task_footer_delete:hover {
    color: #29ABE2;
}

.show_task_footer_delete:hover img {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.show_task_show_subtasks {
    margin-left: 10px;
}

.show_task_subtask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
}

.show_task_subtask_content {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 1em;
}

.checkboxSubject{
    margin-left: 16px;
}

.show_task_show_subtasks span {
    font-size: 20px;
    line-height: 24px;
}

.show_task_edit {
    background-color: white;
    height: 70%;
    position: fixed;
    border-radius: 20px;
    padding: 30px;
    word-wrap: break-word;
    position: relative;
    display: none;
}

.show_task__edit_header {
    display: flex;
    justify-content: end;
}

.show_task__edit_header img {
    position: absolute;
    top: 40px;
}

.show_task__edit_content {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.show_task_edit_form {
    width: 100%;
    overflow: auto;
}

.show_task__edit_content span {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.show_task__edit_content {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
}

.show_task__edit_content::-webkit-scrollbar {
    width: 5px;
}

.show_task__edit_content::-webkit-scrollbar-track {
    background: transparent;
}

.show_task__edit_content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.show_task__edit_content::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.show_task_delete_button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.show_task_delete_button p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.show_task_edit_input {
    font-size: clamp(17px, 1.3vw, 30px);
    height: 48px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    -webkit-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 13px -9px rgba(0,0,0,0.75);
}

.show_task_edit_input:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.task_assignet_edit {
    width: 96%;
}

.task_edit_initial {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.task_subtask_edit {
    position: relative;
}

.show_task_content {
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    max-height: 85vh;
    overflow-x: hidden;
}

.show_task_subtask_edit {
    margin-left: 20px;
    margin-bottom: 20px;
}

.get_show_task {
    margin-bottom: 5px;
}



.show_task_edit_footer {
    height: 50px;
}

.show_task_edit_footer button {
    border: 1px solid #2A3647;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.2px;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    width: 90px;
    height: 52px;
    padding: 8px 16px;
    gap: 4px;
    cursor: pointer;
    gap: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 5%;
    right: 7%;
    position: absolute;
}

.show_task_edit_footer button:hover {
    border: 2px solid #29ABE2;
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
}

.show_task_content::-webkit-scrollbar {
    width: 5px;
}

.show_task_content::-webkit-scrollbar-track {
    background: transparent;
}

.show_task_content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.show_task_content::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}


#checkBoxesEdit {
    display: none;
}

#checkBoxesEdit {
    background-color: white;
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    word-wrap: break-word;
    -webkit-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.37);
}

.checkBoxesEdit::-webkit-scrollbar {
    width: 5px;
}

.checkBoxesEdit::-webkit-scrollbar-track {
    background: transparent;
}

.checkBoxesEdit::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.checkBoxesEdit::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.add_button_group#urgent_edit.active .add_task_button_vector img {
    filter: brightness(0) invert(1);
}

.add_button_group#medium_edit.active .add_task_button_vector img {
    filter: brightness(0) invert(1);
}

.add_button_group#low_edit.active .add_task_button_vector img {
    filter: brightness(0) invert(1);
}

.add_button_group#urgent_edit.active {
    background-color: red;
    border: red;
    color: white;
}

.add_button_group#medium_edit.active {
    background-color: #FFA800;
    border: #FFA800;
    color: white;
}

.add_button_group#low_edit.active {
    background-color: #7AE229;
    border: #7AE229;
    color: white;
}

.show_task_edit_subtasks_del_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms;
}

/* .show_task_edit_subtasks_del_edit:hover > .show_task_edit_subtasks_del_edit_button {
    display: flex;
} */

.show_task_edit_subtasks_del_edit_button {
    display: flex;
    gap: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.cross_line {
    background-color: #2A3647;
    width: 1px;
    height: 20px;
}

/* .show_task_edit_subtasks_del_edit:hover {
    background-color: #f1f1f1e0;
} */

@media(max-width: 850px) {
    .pop_add_task {
        width: 85%;
        padding: 34.5px 24px;
    } 

    .show_task {
        width: 100%;
    }
    
    .show_task_title {
        font-size: 36px;
    }
    
    .show_task_description, .show_task_date, .show_task_priory, .show_task_user_daten, .show_task_assigned_to_users, .show_task_footer p, .show_task_category {
        font-size: 16px;

    }
}

@media(max-width: 450px) {
    .show_task {
        padding: 0;
    }

    .task_edit_initial {
        overflow-x: scroll;
    }

    .task_edit_initial::-webkit-scrollbar {
        display: none;
    }
}

.show_task_subtask_edit_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    display: none;
}

.show_task_subtask_edit_btn input {
    width: 80%;
    border: 0;
    font-size: 18px;
    border-bottom: 1px solid #29ABE2;
}

.show_task_subtask_edit_btn_delete_add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_task_subtask_edit_btn_delete_add {
    margin-right: 7px;
    gap: 3px;
}

.img_hover_btn:hover {
    filter: invert(43%) sepia(76%) saturate(438%) hue-rotate(157deg) brightness(96%) contrast(97%);
}

.checkbox-wrapper-27 .checkbox {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .checkbox-wrapper-27 .checkbox > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .checkbox-wrapper-27 .checkbox__icon {
    display: inline-block;
    color: #999;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .checkbox-wrapper-27 input[type="checkbox"]:checked ~ .checkbox__icon {
    color: #2A3647;
  }
  
  .checkbox-wrapper-27 .checkbox__icon:before {
    font-family: "icons-27";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .checkbox-wrapper-27 .icon--check:before,
  .checkbox-wrapper-27 input[type="checkbox"]:checked ~ .checkbox__icon:before {
    content: "\e601";
  }
  
  .checkbox-wrapper-27 .icon--check-empty:before,
  .checkbox-wrapper-27 .checkbox__icon:before {
    content: "\e600";
  }
  
  @font-face {
    font-family: "icons-27";
    font-weight: normal;
    font-style: normal;
    src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAR4AAoAAAAABDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAPgAAAD4fZUAVE9TLzIAAAHsAAAAYAAAAGAIIvy3Y21hcAAAAkwAAABMAAAATBpVzFhnYXNwAAACmAAAAAgAAAAIAAAAEGhlYWQAAAKgAAAANgAAADYAeswzaGhlYQAAAtgAAAAkAAAAJAPiAedobXR4AAAC/AAAABgAAAAYBQAAAG1heHAAAAMUAAAABgAAAAYABlAAbmFtZQAAAxwAAAE5AAABOUQYtNZwb3N0AAAEWAAAACAAAAAgAAMAAAEABAQAAQEBCGljb21vb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v4lPh0BR0AAAB8Dx0AAACBER0AAAAJHQAAAO8SAAcBAQgPERMWGyBpY29tb29uaWNvbW9vbnUwdTF1MjB1RTYwMHVFNjAxAAACAYkABAAGAQEEBwoNL2X8lA78lA78lA77lA6L+HQVi/yU+JSLi/iU/JSLBd83Fffsi4v77Pvsi4v37AUOi/h0FYv8lPiUi4v33zc3i/s3++yLi/fs9zeL398F9wCFFftN+05JzUdI9xr7GveR95FHzwUO+JQU+JQViwwKAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gEB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAf/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAACkYCfgXw889QALAgAAAAAAz65FuwAAAADPrkW7AAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAgAAAQAAAAAAAAAAAAAAAAAAAAYAAAAAAAAAAAAAAAABAAAAAgAAAAIAAAAAAFAAAAYAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff");
}