body {
    margin: 0;
}
.add_task_container {
    background-color: rgb(246, 247, 248);    
    padding: 110px 96px 0 96px;
}

.add_task_container h1 {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
} 

.add_task_form_row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add_task_form {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #2A3647;
}

.add_task_width50 {
    width: 50%;    
}

.add_task_line {
    width: 1px;
    margin: 0 45px;
    background-color: #D1D1D1;
}

.add_task_input {
    font-size: 20px;
    height: 48px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 6px;
}

.add_task_textarea {
    font-size: 20px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 120px;
}

.add_task_button_group {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.add_task_button_group button {
    width: 136px;
    height: 56px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px 10px;
    font-size: 20px;
}

.add_task_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 146px 0 80px 0;
}

.add_task_button_group_footer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.add_task_button_group_footer button {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
}

.add_task_button_clear {
    width: 110px;
    height: 56px;
    padding: 16px;
    gap: 4px;
}

.add_task_button_create {
    width: 183px;
    height: 56px;
    padding: 16px;
    gap: 4px;
}

.add_task_title {
    margin-top: 48px;
    height: 96px;
    gap: 8px;
}

.add_task_descripion {
    height: 168px;
    margin: 16px 0;
    gap: 8px;
}

.add_task_assignet {
    height: 80px;
    gap: 8px;
}

.add_task_date {
    margin-top: 48px;
    height: 96px;
    gap: 8px;
}

.add_task_prio {
    height: 88px;
    margin: 24px 0;
    gap: 8px;
}

.add_task_prio p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.add_task_category {
    gap: 8px;
    margin: 24px 0;
}

.add_task_subtask {
    gap: 8px
}