@media (max-width: 1200px) {
    .add_task_line {
        margin: 25px 25px 0;
    }
}

@media (max-width: 1122px) {
    .add_task_content {
        left: 280px;
        box-sizing: border-box;
    }

    .add_task_line {
        margin: 50px 15px 0;
    }

    .add_button_group {
        width: 35%;
    }
}

@media screen and (min-width: 850px) and (max-width: 1050px) {

    .taskCategorySelection{
        width: 60vw;
    }

    .add_task_content {
        width: 65vw;
        padding-bottom: 0;
    }

    .add_task_textarea {
        width: 100%;
    }

    .add_task_category {
        width: 104%;
    }

    .add_task_button_create {
        font-size: 16px;
        width: 130px;
    }

    .add_task_button_group_footer button {
        border-radius: 10px;
        cursor: pointer;
    }

    .add_task_form {
        width: 60vw;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
    }

    .add_task_line {
        display: none;
    }

    .add_task_width50 {
        width: 100%;
    }

    .add_task_input {
        box-sizing: border-box;
    }

    .add_task_title {
        margin-top: 28px;
    }

    .add_task_button_clear {
        display: none !important;
    }

    .add_task_footer p {
        font-size: clamp(15px, 2vw, 30px);
    }

    .add_task_footer {
        justify-content: space-between;
    }

    .add_task_date {
        margin-top: 38px;
    }

    .dropdown_users_name {
        max-height: 120px;
    }

    .add_task_form {
        overflow: auto;
        scrollbar-width: none;
    }
}

@media (max-width: 850px) {
    .add_task_content {
        width: 97%;
        left: 16px;
        top: 160px;
        padding-bottom: 105px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .selectBox img {
        position: absolute;
        top: 25px;
        right: 19px;
    }

    .add_task_form {
        margin-top: 2%;
    }

    .get_subtask {
        height: 60px;
    }
}

@media (max-width: 666px) {
    .get_subtask {
        height: 100px;
    }

    .add_task_content {
        position: fixed;
    }

    .add_task_content {
        width: 93vw;
        padding-bottom: 0;
    }

    .add_task_button_create {
        font-size: 16px;
        width: 130px;
    }

    .add_task_button_group_footer button {
        border-radius: 10px;
        cursor: pointer;
    }

    .add_task_form {
        display: flex;
        flex-direction: column;
    }

    .add_task_line {
        display: none;
    }

    .add_task_width50 {
        width: 100%;
    }

    .add_task_input {
        box-sizing: border-box;
    }

    .add_task_title {
        margin-top: 28px;
    }

    .add_task_button_clear {
        display: none !important;
    }

    .add_task_footer p {
        font-size: clamp(15px, 2vw, 30px);
    }

    .add_task_footer {
        justify-content: space-between;
    }

    .add_task_date {
        margin-top: 38px;
    }

    .dropdown_users_name {
        max-height: 120px;
    }

    .add_task_form {
        overflow: auto;
        scrollbar-width: none;
    }
}

@media (max-width: 600px) {
    .add_task_button_clear {
        display: none;
    }
}

@media (max-width: 450px) { 

    .add_task_content{
        top: 135px;
    }

    .add_button_group{
        font-size: 18px;
    }

    .add_task_content {
        width: 92%;
    }

    .add_task_title {
        margin-top: 18px;
    }

    .add_task_footer {
        padding: 0;
        flex-direction: column;
    }

    .add_task_textarea {
        width: 100%;
    }

    #meinFormular {
        gap: 50px;
    }
}


@media (max-height: 880px) {
    .add_task_form {
        max-height: 45vh;
    }
}

@media (max-height: 770px) {
    #meinFormular {
        gap: 0;
    }
}