@media screen and (min-width: 1137px) and (max-width: 1381px) {
    .viewContactName{
        font-size: clamp(20px, 2.8vw, 47px);
    }

    .viewContactHeadContainer{
        gap: 10%;
    }

    .titleContainer {
        gap: 7%;
    }

    .subTitle {
        font-size: clamp(18px, 1.6vw, 27px);
    }

    .viewContactSVG{
        width: 80px;
        min-width: 80px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1137px) {
    .viewContactName{
        font-size: clamp(20px, 2.8vw, 47px);
    }

    .viewContactHeadContainer{
        gap: 5%;
    }

    .titleContainer {
        gap: 5%;
    }

    #listSection{
        min-width: 280px;
        padding: 3vh 2vw;
    }

    .viewContactButtonsContainer {
        gap: 0px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1165px) {
    .title {
        font-size: clamp(36px, 2vw, 61px);
    }
    
    .subTitle {
        font-size: clamp(18px, 1.6vw, 27px);
    }

    .contactViewSection{
        padding: 6vh 2.8vw;
    }

    .viewContactSVG{
        width: 80px;
        min-width: 80px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1093px) {
    #listSection{
        min-width: 280px;
        padding: 3vh 2vw;
    }

    .viewContactSVG{
        width: 56px;
        min-width: 56px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1035px) {
    .listedContactContainer {
        gap: 3%;
    }

    .listButtonContainer {
        padding: 32px 48px 24px 24px;
    }

    #listSection{
        min-width: 280px;
        padding: 3vh 1.6vw;
    }
}

@media screen and (min-width: 850px) and (max-width: 961px) {
    .listedContactContainer {
        gap: 3%;
    }

    .listButtonContainer {
        padding: 32px 32px 24px 16px;
    }

    #listSection{
        min-width: 280px;
        padding: 3vh 1.6vw;
    }
}

@media screen and (min-width: 850px) and (max-width: 953px) {
    .titleContainer{
        flex-direction: column;
        align-items: start;
        gap: 12px !important;
    }

    .subTitleContainer{
        flex-direction: column;
        display: flex;
        gap: 12px;

    }

    .blueVerticalLine{
        display: none !important;
    }

    .mobileBlueHorizontalLine{
        display: block !important;
        width: 30%;
        height: 3px;
        background-color: #29ABE2;;
        border-radius: 32px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 850px) and (max-width: 953px) {
    #listSection{
        min-width: 280px;
        padding: 3vh 1vw 3vh 1.6vw;
    }

    .listedContactContainer {
        padding: 15px 1.6vw 15px 1.6vw;
    }

    .addContactButton {
        padding: 12px 24px 12px 24px;
    }

    .viewContactName{
        font-size: clamp(22px, 2.5vw, 32px);
    }
}

@media (max-width: 1446px) {
    .mobileEditContactProfileSVG{
        width: 120px;
        height: 120px;
        margin-bottom: 32px;
    }

    .contactPopUp{
        flex-direction: column;
        height: 80vh;
        width: 60vw;
    }

    .addContactPopUpTitleContainer{
        width: 100%;
        box-sizing: border-box;
        padding: 66px 48px 66px 48px;
        height: 35vh;
    }

    .addContactJoinLogo{
        display: none;
    }

    .addContactFormContainer {
        box-sizing: border-box;
        border-radius: 0px 0px 30px 30px;
        padding: 0px 48px 66px 48px;
        height: 45vh;
    }

    .contactFormAndImgContainer{
        display: flex;
        flex-direction: column;
        top: 50%;
        box-sizing: border-box;
        padding: 0px 0px 0px 0px;
        gap: 0px;
        background: transparent;
        position: relative;
        top: -5%;
    }

    .contactPopUpProfileImg{
        padding-bottom: 24px;
    }

    .formContainer {
        gap: 16px;
    }

    .nameEmailTel {
        width: 80%;
    }

    .contactsInputIcon {
        margin-right: 13%;    
    }
    
    .mobileSubTitle{
        font-size: 27px;
        font-weight: 400;
        margin: 0px;
        min-width: 120px;
    }

    .popUpRightCornerCloseButton {
        filter: brightness(1000%);
        top: 4%;
        right: 6%;
    }

    .popUpRightCornerCloseButton:hover {
        background-color: transparent;
    }

    .popUpRightCornerCloseButton:active {
        background-color: #29ABE2;
        filter: brightness(250%);
    }

    .viewContactName{
        max-width: 570px;
    }

    .formContainer{
        margin-left: -16px;
    }
}

@media (max-width: 800px) {

    .popUpTitle{
        font-size: clamp(32px, 7vw, 47px);
    }

    .mobileSubTitle{
        font-size: clamp(22px, 2.5vw, 32px) !important;
    }

    .contactPopUp {
        right: unset;
        top: unset;
        bottom: -50%;
        transform: translate(22%, 53%);
        overflow: hidden;
        width: 70vw;
    }

    .deletePopUp{
        right: 50%;
        top: unset;
        overflow: hidden;
        bottom: 50%;
        transform: translate(50%, 50%);
    }

    .slideIn {
        animation: slideIn 0.4s ease-in-out forwards;
    }
    
    .slideOut {
        animation: slideOut 0.4s ease-in-out forwards;
    }
    
    @keyframes slideIn {
        from {
            bottom: -50%;
        }
        to {
            bottom: 50%;
        }
    }
    
    @keyframes slideOut {
        from {
            bottom: 50%;
        }
        to {
            bottom: -50%;
        }
    }
}

@media (max-width: 525px) {
    .contactPopUp {
        transform: translate(3.8%, 50%);
        width: 90vw;
    }

    .popUpTitle{
        font-size: clamp(32px, 9vw, 47px);
    }
}

@media (max-width: 850px) {

    .contactsInputIcon {
        margin-right: 24px;    
    }

    .contactFormAndImgContainer{
        height: 50vh;
    }

    #listSection {
        padding: 0px 16px 0px 16px;
        height: 100%;
    }

    .listButtonContainer {
        top: 135px;
        padding: 32px 48px 24px 12px;
        margin-right: 16px;
        margin-left: -2px;
    }

    .viewContactHeadContainer {
        gap: 5%;
    }
    
    .viewContactName{
        font-size: clamp(32px, 3.5vw, 47px);
    }

    .listedContactContainer {
        gap: 7%;
    }

    .contactViewSection{
        padding: 6vh 3vw 8vh 3vw;
    }

    .viewContactSubTitle{
        margin: 0px;
    }

    .contactList {
        padding: 100px 0px 40px 0px;
    }

    .contactPageConfirmation {
        margin: 0px;
        margin-top: -16px;
        padding: 16px 24px 16px 24px;
        font-size: 16px;
    }

    .viewContactSVG{
        width: 64px;
        min-width: 64px;
    }

    .titleContainer {
        gap: 24px;
    }

    .formContainer {
        gap: 12px;
    }

    .nameEmailTel {
        font-size: 16px;
    }

    .cancelAndCreateContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .contactCreateButton {
        font-size: 18px;
        padding: 12px 16px 12px 16px;
        margin-top: 12px;
    }

    .contactCancelButton{
        font-size: 16px;
        padding: 12px 16px 12px 16px;
        margin-top: 12px;
    }

    .addContactFormContainer {
        padding: 0px 32px 80px 32px;
    }

    .mobileEditContactProfileSVG{
        width: 120px;
        height: 120px;
        margin-bottom: 32px;
    }

    #helpLink{
        display: block !important;
    }
}

@media screen and (min-width: 451px) and (max-width: 850px) {
    .contactsHTMLContainer {
        padding: 135px 0 74px 0px;
    }
}

@media (max-width: 796px) {
    .viewContactButtonsContainer {
        gap: 0px;
    }
}

@media (max-width: 710px) {
    .contactViewSection{
        padding: 8vh 3vw 8vh 3vw;
    }

    .subTitle {
        font-size: clamp(22px, 4vw, 27px);
        margin-bottom: 8px;
    }

    .title {
        font-size: clamp(32px, 6vw, 61px);
    }

    .formContainer {
        margin-left: -24px;
    }
}

@media screen and (min-width: 660px) and (max-width: 771px) {
    .viewContactName{
        font-size: 22px;
    }
}

@media (max-width: 660px) {
    .headertitle{
        display: none;
    }

    .listButtonContainer{
        display: none;
    }

    .contactList {
        padding: 0px 28px 40px 28px;
    }

    #listSection {
        width: 100%;
    }

    .title {
        font-size: clamp(47px, 4vw, 61px);
    }

    .viewContactName {
        font-size: clamp(36px, 6vw, 47px);
        font-weight: 700;
        color: black;
    }

    .contactViewSection{
        position: fixed;
        height: 100%;
        width: 100vw;
        transform: translateX(100%);
        overflow: hidden;
        background-color: #F6F7F8;
        padding: 6vh 3vw 8vh 3vw;
    }

    .mobileContactButton {
        display: block;
    }

    @keyframes rightSlideInScreen {
        from {
            right: -100%;
        }
        to {
            right: 100%;
        }
    }

    @keyframes rightSlideOutScreen {
        from {
            right: 100%;
        }
        to {
            right: -100%;
        }
    }

    .viewContactSVG{
        width: 100px;
        min-width: 100px;
    }

    .viewContactButtonsContainer{
        display: none;
    }

    .mobileViewContactButton{
        display: block;
        bottom: 231px;
    }

    .mobileContactOptions{
        display: none;
        flex-direction: column;
        background-color: #2A3647;
        border-radius: 20px 20px 0px 20px;
        padding: 10px;
        position: fixed;
        bottom: 231px;
        right: -50%;
    }

    .mobileEditAndDeleteButton{
        padding: 13.5px;
        font-size: 20px;
        color: white;
        display: flex;
        gap: 12px;
        align-items: center;
        border-radius: 10px;
    }

    .mobileEditAndDeleteImg{
        filter: brightness(1000%);
    }

    .mobileEditAndDeleteButton:hover{
        cursor: pointer;
        background-color: #2A3D59;
    }

    .mobileEditAndDeleteButton:active{
        filter: sepia(93%) saturate(2141%) hue-rotate(165deg) brightness(180%) contrast(89%);
    }

    .formContainer {
        margin-left: -30px;
    }

    .contactsInputIcon {
        margin-right: 16px;
    }
}


@media (max-width: 560px) {
    .contactsInputIcon {
        margin-right: 8px;
    }

    .formContainer {
        margin-left: -44px;
    }

    .nameEmailTel {
        width: 85%;
    }
}

@media (max-width: 450px) {

    .nameAndMailListContainer{
        min-width: 200px;
        max-width: 240px;
        margin-left: 16px;
    }

    .contactsHTMLContainer {
        padding: 80px 0px 74px 0px;
    }

    .listButtonContainer{
        display: none;
    }

    #listSection{
        padding: 0px 8px 80px 16px;
        box-sizing: border-box;
    }

    .listedContactSVG{
        width: 34px;
    }

    .listedContactContainer{
        gap: 1%;
    }

    .headerNavContainer{
        top: 80px;
    }

    .contactPopUpProfileImg{
        padding-bottom: 24px;
        width: 120px;
    }

    .mobileEditContactProfileSVG{
        width: 120px;
        height: 120px;
        margin-bottom: 32px;
    }

    .viewContactSVG{
        width: 80px;
        min-width: 80px;
    }

    .mobileViewContactButton{
        bottom: 176px;
    }

    .mobileContactOptions{
        bottom: 176px;
    }
    
    .contactsInputIcon {
        margin-right: -56px;
    }

    .nameEmailTel {
        padding: 10px 48px 10px 16px;
        width: 120%;
    }

    .formContainer {
        margin-left: -96px;
    }

    .deletePopUp{
        width: 65vw;
    }
}

@media screen and (min-width: 361px) and (max-width: 660px) {
    .listedContactContainer{
        justify-content: start;
    }
}

@media (max-width: 400px) {
    .alphabetCategoryContainer {
        padding: 0px 24px 0px 24px;
    }    

    .listedContactContainer{
        padding: 15px 12px 15px 12px;
    }

    .contactList {
        padding: 0px 0px 40px 0px;
    }

    .viewContactName{
        font-size: 32px;
    }

    .viewContactSVG{
        width: 72px;
        min-width: 72px;
    }
}

@media (max-width: 361px){
    .contactCancelButton,
    .contactCreateButton{
        padding: 12px 16px 12px 16px;
    }
}