@media (max-width: 1080px) {
    .logo-fullscreen {
        transform: translate(-110%, -50%);
    }
}

@media (max-width:900px) {
    .signUp-mobile {
        display: flex;
        justify-content: center;
    }

    .signUp-section {
        display: none;
    }

    .logo-fullscreen {
        transform: translate(-30%, -50%);
    }

    .content {
        padding-top: 70px;
    }

    .logo-fullscreen {
        width: 32px;
    }

    .box {
        padding: 48px 0;
        width: 100%;
    }

    .logo {
        width: 80px;
        height: 80px;
        animation: logo-mobile 2s;
        top: 8%;
    }

    #logo-mobile {
        display: flex;
        animation: logo-mobile 2s;
        opacity: 0;
        width: 80px;
        height: 80px;
    }

    @keyframes logo-mobile {
        0% {
            opacity: 1;
            top: 50%;
            /* Startposition in der Mitte */
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
        }

        50% {
            opacity: 1;
            top: 50%;
            /* Startposition in der Mitte */
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
        }

        100% {
            transform: translate(-50%, -50%) scale(1);
            width: 80px;
            height: 80px;
            top: 8%;
            left: 15%;
        }
    }

    .blue-bg {
        animation: fadeOut 1.2s;
        background-color: #2A3647;
        width: 100%;
        height: 100vh;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

}

@media (max-width:520px) {
    .box form {
        width: 90%;
    }

    .button {
        font-size: 16px;
    }

    .logo {
        position: absolute;
        /* Startposition in der Mitte */
        transform: translate(-50%, -50%) scale(1);
        /* Zentriert das Logo und behält die ursprüngliche Größe bei */
        transition: all 500ms ease-in-out 300ms;
        /* Glatter Übergang von 2 Sekunden */
        z-index: 10;
        animation: logoMoveIn 2s;
        width: 64px;
        height: 64px;
        top: 8%;
        left: 25%;
    }

    #logo-mobile {
        width: 64px;
        height: 64px;
    }

    .arrow-left-line {
        left: 25px;
    }

    @keyframes logo-mobile {
        0% {
            opacity: 1;
            top: 50%;
            /* Startposition in der Mitte */
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
        }

        50% {
            opacity: 1;
            top: 50%;
            /* Startposition in der Mitte */
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
        }

        100% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(1);
            width: 64px;
            height: 64px;
            top: 8%;
            left: 25%;
        }
    }

    @keyframes logoMoveIn {
        0% {
            top: 50%;
            /* Startposition in der Mitte */
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
        }

        50% {
            top: 50%;
            /* Startposition in der Mitte */
            left: 50%;
            transform: translate(-50%, -50%) scale(3);
        }

        100% {
            transform: translate(-50%, -50%) scale(1);
            width: 64px;
            height: 64px;
            top: 8%;
            left: 25%;
        }
    }

}

@media (max-width: 430px) {
    .arrow-left-line {
        position: static;
    }
}