@media screen and  (min-width: 850px) and (max-width: 1321px) {
    


    .title{
        font-size: clamp(47px, 4vw, 61px);
    }

    .greetName {
        font-size: clamp(28px, 3vw, 61px);
    }

}

@media screen and (min-width: 850px) and (max-width: 1131px){

    #webGreetingContainer{
        display: none;
    }
}

@media (max-width: 850px){
    .greetingLoginContainer {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: #F6F7F8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 1;        
    }

    #webGreetingContainer{
        display: none;
    }

    .greetingLoginContainer .greetingIntro {
        font-size: clamp(28px, 6vw, 47px);

    }

    .greetingLoginContainer .greetName {
        font-size: clamp(36px, 8vw, 61px);
    }

    .greetingLoginContainer {
        display: flex;
    }
}

@media screen and (min-width: 920px) and (max-width: 1112px){
    
    .subTitle{
        font-size: clamp(20px, 2.5vw, 27px);
    }

}

@media screen and (min-width: 850px) and (max-width: 950px){
    
    .summaryNumContainer {
        max-width: 440px;
    }
    
    .toDoAndDoneContainer {
        Padding: 32px 32px 32px 32px;
    }

    #summaryMainSection {
        gap: 0px;
    }
}

@media (max-width: 850px){
    #summary{
        display: none;
        width: 100%;
        gap: 2%;
    }
    
    #summaryMainSection{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .toDoAndDoneContainer {
        padding: 3.6vw 3vw;
    }

    .urgentContainer{
        padding: 3.6vw 3vw;
    }

    .summaryBottomContainer{
        padding: 3.6vw 3vw;
    }

    .summaryCount{
        font-size: clamp(32px, 10vw, 56px);
    }

    .urgentContainer{
        gap: 8%;
    }

    .summaryNumContainer {
        gap: 24px;
    }
}

@media (max-width: 450px){
    .headerTitle {
        display: none;
    }
    
    #summary {
        padding: 0px 16px 0px 16px;
        gap: clamp(8px, 4vw, 47px); 
    }

    .summarySvgSize {
        width: 11vw
    }

    .bottomContainerText,
    .deadLinePhrase,
    .urgentSpan,
    .summarySpan {
        font-size: clamp(14px, 3vw, 16px);
    }

    .title {
        font-size: 47px;
    }

    .deadlinePhrase, 
    .pastDatesSpan {
        font-size: clamp(14px, 3vw, 16px);
    }

    #upcomingDeadline {
        font-size: clamp(16px, 4vw, 24px);
    }
}




@keyframes greeting {
    from {
        z-index: 1;
        opacity: 1;
    }
    to {
        z-index: -1;
        opacity: 0;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}