@media screen and (min-width: 1100px) and (max-width: 1321px) {
    .content {
        left: 324px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1122px) {
    body {
        height: auto;
    }
    
    .content {
        left: 290px;
    }
}

@media screen and (min-width: 851px) and (max-width: 1000px) {
    .content {
        left: 280px;
    }
}

@media (max-width: 850px) {

    #helpLink{
        display: block;
    }

    .helpIcon,
    .navBarImg,
    #footer {
        display: none !important;
    }

    #navBar {
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: space-between;
        background-color: #2A3647;
        height: 74px;
        width: 100%;
        Padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        z-index: 2;
        bottom: 0;
    }

    #navContainer {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        gap: 0;
    }

    .navBarLink {
        flex-direction: column;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        padding: 8px 8px 8px 8px;
        font-size: 14px;
    }

    .navImg {
        justify-self: center;
        height: auto;
        padding-right: 0px;
    }

    .navBarSpan {
        min-width: 60px;
        text-align: center;
    }

    .header {
        padding: 20px 40px 20px 40px;
    }

    .headerLogo {
        display: block;
        width: 32px;
        height: 39px;
    }

    .mobileBlueHorizontalLine {
        width: 90px;
        height: 3px;
        background-color: #29ABE2;
        ;
        border-radius: 32px;
        margin-top: -16px;
    }

    .titleContainer {
        flex-direction: column;
        text-align: start;
        align-items: start;
    }

    .blueVerticalLine {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .content {
        padding-top: 2vh;
        transform: translate(-50%);
        left: 50%;
        top: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: start;
        padding: 44px 32px 0px 32px;
    }

    .headerProfileContainer {
        height: 40px;
    }
}

@media (max-width: 450px) {
    .headerNavContainer {
        top: 80px;
    }

    .header {
        padding: 20px 16px 20px 16px;
        Height: auto;
    }

    .headerProfileContainer {
        width: auto;
    }

    .headerLogo {
        padding: 0px;
    }

    .title {
        font-size: clamp(32px, 4vw, 47px);
    }

    .subTitle {
        font-size: clamp(16px, 4vw, 20px);
    }

    .headerTitle {
        display: none;
    }

    #initialCircle {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 660px){
    .blueArrowToLeft{
        display: block;
    }
}