    <header id="header" class="header">
        <p class="headerTitle">Kanban Project Management Tool</p>

        <div class="headerProfileContainer">
            <button class="btn"><img class="helpIcon" src="assets/img/helpIcon.svg"></img></button>
            <button class="btn" onclick="openHeadNav()">
                <svg id="initialCircle" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                    <circle cx="28" cy="28" r="26.5" stroke="#2A3647" stroke-width="3"/>
                    <circle class="circle-background" cx="28" cy="28" r="26.5" fill="transparent"/>
                    <text id="headInnitials" class="headInnitials" x="50%" y="54%" text-anchor="middle" alignment-baseline="middle" fill="rgba(41,171,226)">G</text>
                </svg>
            </button>

            <div id="headerNav" class="headerNavContainer d-none">
                <button class="btn headerNavButton d-none">Help</button>
                <button class="btn headerNavButton">Legal Notice</button>
                <button class="btn headerNavButton">Privacy Policy</button>
                <button class="btn headerNavButton">Log out</button>
            </div>
        </div>
    </header>
