<header id="header" class="header">
    <p class="headerTitle">Kanban Project Management Tool</p>

    <div class="headerProfileContainer">
        <button class="btn"><img  src="assets/img/helpIcon.svg"></img></button>
        <button class="btn">
            <svg id="initialCircle" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                <circle cx="28" cy="28" r="26.5" stroke="#2A3647" stroke-width="3"/>
                <text id="headInnitials" x="50%" y="52%" text-anchor="middle" alignment-baseline="middle" fill="rgba(41,171,226)">AB</text>
            </svg>
        </button>
    </div>


</header>