<nav id="navBar">
    <img class="navBarImg" src="./assets/img/navBarImg.svg">
    <section id="navContainer">
        <button class="navButton">
            <div class="navImgContainer">
                <img class="navImg" src="./assets/img/summaryIcon.svg">
            </div>
            <span>Summary</span>
        </button>
        <button class="navButton">
            <div class="navImgContainer">
                <img class="navImg" src="./assets/img/addTaskIcon.svg">
            </div>
            <span>Add Task</span>
        </button>
        <button class="navButton">
            <div class="navImgContainer">
                <img class="navImg" src="./assets/img/boardIcon.svg">
            </div>
            <span>Board</span>
        </button>
        <button class="navButton">
            <div class="navImgContainer">
                <img class="navImg" src="./assets/img/contactsIcon.svg">
            </div>
            <span>Contacts</span>
        </button>
    </section>

    <footer id="footer">
        <div class="footerContainer">
            <button class="navButton textButton">Privacy Policy</button>
            <button class="navButton textButton">Legal Notice</button>
        </div>
    </footer>

</nav>