   <nav id="navBar">
        <a id="navBarImg" class="navBarImg" href="index.html"><img class="navBarImg" src="./assets/img/navBarImg.svg"></a>
        <section id="navContainer">
            <a id="summaryNav" href="summary.html"  class="navBarLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img id="navBarSummaryImg" class="navImg" src="./assets/img/summaryIcon.svg">
                </div>
                <span class="navBarSpan">Summary</span>
            </a>
            <a id="addTaskNav" href="add_task.html"  class="navBarLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img id="navBarAddTaskImg" class="navImg" src="./assets/img/addTaskIcon.svg">
                </div>
                <span class="navBarSpan">Add Task</span>
            </a>
            <a id="boardNav" href="board.html"  class="navBarLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img id="navBarBoardImg" class="navImg" src="./assets/img/boardIcon.svg">
                </div>
                <span class="navBarSpan">Board</span>
            </a>
            <a id="contactsNav" href="contacts.html" class="navBarLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img id="navBarContactsImg" class="navImg" src="./assets/img/contactsIcon.svg">
                </div>
                <span class="navBarSpan">Contacts</span>
            </a>
        </section>

        <footer id="footer">
            <div class="footerContainer">
                <a class="navBarLink footerButton" href="privacypolicy.html">Privacy Policy</a>
                <a class="navBarLink footerButton" href="legalnotice.html">Legal Notice</a>
            </div>
        </footer>
    </nav>