   <nav id="navBar">
        <img class="navBarImg" src="./assets/img/navBarImg.svg">
        <section id="navContainer">
            <a href="summary.html"  class="navLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img class="navImg" src="./assets/img/summaryIcon.svg">
                </div>
                <span>Summary</span>
            </a>
            <a href="add_task.html"  class="navLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img class="navImg" src="./assets/img/addTaskIcon.svg">
                </div>
                <span>Add Task</span>
            </a>
            <a href="board.html"  class="navLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img class="navImg" src="./assets/img/boardIcon.svg">
                </div>
                <span>Board</span>
            </a>
            <a href="contacts.html" class="navLink mainNavLinkTransition">
                <div class="navImgContainer">
                    <img class="navImg" src="./assets/img/contactsIcon.svg">
                </div>
                <span>Contacts</span>
            </a>
        </section>

        <footer id="footer">
            <div class="footerContainer">
                <a class="navLink footerButton" onclick="navigateTo('privacypolicy.html')">Privacy Policy</a>
                <a class="navLink footerButton" onclick="navigateTo('legalnotice.html')">Legal Notice</a>
            </div>
        </footer>
    </nav>